.js-btn {
	position: fixed;
	left: calc(50% - 100px);
	top: 10px;
	background: whitesmoke;
	color: #333;
	width: 200px;
	height: 36px;
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 16px;
	border: solid 1px #333;
	border-radius: 2px;
}

.js-btn:hover {
	background: #777;
	color: whitesmoke;
	border: solid 1px whitesmoke;
}

.grid-container {
	position: relative;
	top: 50px;
	font-size: 0;
	margin:auto;
	height:800px;
	width:800px;
	padding: 0;
	outline: solid 1px #333;
}

.grid {
	display:inline-block;
	background: whitesmoke;
	outline: solid 1px #777;
}