.grid-container {
	margin-left: calc(50% - 450px);
	width: 900px;
	height: 900px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.squares {
	width: 100px;
	height: 100px;
	background: tomato;
	opacity: 0.5;
	margin: 2px;
}

.row {
	display: inline-flex;
	justify-content: center;
}