body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	background-color: whitesmoke;
}

.js-btn {
	position: fixed;
	width: 180px;
	height: 40px;
	border: none;
	border-radius: 2px;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	top: 15px;
}

.js-btn:hover {
	background-color: #999;
	color: #444;
}

.container {
	outline: solid 1px #555;
	width: 800px;
	height: 800px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 75px;
}

.grid {
	outline: solid 1px #999;
	width: 30px;
	height: 30px;
	cursor: pointer;
}